<mat-toolbar color="primary" class="toolbar">
  <span>DepTV</span>
  <div class="spacer"></div> <!-- Espaciador para centrar las opciones -->
  <div class="nav-links">
    <a mat-button routerLink="/deportes">En vivo</a>
    <span class="divider"></span> <!-- Separador -->
    <a mat-button routerLink="#">Canales</a>
    <span class="divider"></span>
    <a mat-button routerLink="#">Ligas</a>
    <span class="divider"></span>
    <a mat-button routerLink="#">Próximamente</a>
  </div>
</mat-toolbar>

<div class="carousel-container">
  <div class="carousel-slide" *ngFor="let image of images">
    <img [src]="image.url" [alt]="image.alt || 'Carousel Image'">
  </div>
</div>

<div *ngFor="let tvChannel of tvChannels" class="tv-channel-section">
  <h2>{{ tvChannel.name }}</h2>
  <div *ngFor="let channel of tvChannel.channels" class="channel-item" (click)="loadVideoForChannel(channel)">
    <img [src]="channel.imageUrl" [alt]="channel.name">
    <p>{{ channel.name }}</p>
  </div>
</div>
