/* Estilos para el contenedor principal */
.container {
  margin: 20px; /* Agregar margen alrededor del contenido */
}

/* Estilos para la barra de herramientas */
.toolbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 20px;
  background-color: black;
  border-radius: 0 0 15px 15px;
  margin-bottom: 20px;
}

.toolbar span {
  font-size: 1.2rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: white;
  margin-right: 16px;
}

.spacer {
  flex: 1;
}

.divider {
  border-left: 1px solid white;
  height: 16px;
  margin: 0 12px;
}

/* Estilos para el carrusel */
.carousel-container {
  height: 550px;
  background-color: blueviolet;
  padding: 10px;
  margin-bottom: 20px;
}

.carousel-container img {
  max-width: 100%;
  height: auto;
}

.horizontal-scroll {
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px 0;
  margin-bottom: 20px; /* Agregar margen inferior para separarlo del borde de la página */
}

.channel-item {
  display: inline-block;
  margin-right: 20px;
  text-align: center;
}

.channel-item img {
  width: 200px;
  height: 112px;
  border-radius: 20px;
}

.channel-item p {
  margin-top: 8px;
  font-size: 1rem;
}

.tv-channel-section{
  padding: 10px 0 0 20px;
}
